#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 10px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.App-container {
  max-width: 1280px;
}

.sbom-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: #114a1e6a;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    text-align: center;
    color: #333;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.home-button {
    background-color: rgb(29, 89, 52);
    border: 5px solid rgb(29, 89, 52);
    color: white;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer; 
    transition: all 0.3s ease;
    width: auto;
    margin: 0 auto; 
    display: block;
}
.home-button:hover {
    background-color: #359e35; 
    border: 5px solid #359e35;
    box-shadow: 0 0 15px 5px rgb(255, 255, 255);
    color: white;
}

.submit-button {
  background-color: #8c8d8c;
  border: 5px solid rgb(29, 89, 52);
  color: white;
  width: 100%;
  padding: 10px 20px;
  cursor: pointer; 
  transition: background-color 0.3s ease, border-color 0.3s ease;
  display: block;
  margin: 10px auto; 
  width: auto
}

.submit-button:hover {
  background-color: #359e35;
  border-color: rgb(29, 89, 52);
  box-shadow: 0 0 15px 5px rgb(113, 255, 139);
}

.submit-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.product-form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%; 
}

.form-group label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px; 
  text-align: center;
}

.input-field {
  width: 100%; 
  max-width: 100%; 
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  text-align: center;
}

.input-field:focus {
  outline: none;
  border-color: #359e35;
  box-shadow: 0 0 5px rgba(53, 158, 53, 0.5);
}

.sbom-data-card, .recommendation-card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sbom-data-card h3, .recommendation-card h3 {
    font-size: 20px;
    color: #333;
}

.sbom-data-card p, .recommendation-card p {
    font-size: 16px;
    color: #555;
}

.sbom-data-card p strong, .recommendation-card p strong {
    font-weight: bold;
}

.sbom-item {
    margin-bottom: 15px;
}

.loading-text {
    text-align: center;
    font-size: 18px;
    color: #007bff;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 15px 0;
}
.scrollable-data {
  max-height: 300px; 
  overflow-y: auto; 
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sbom-item, .recommendation-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.sbom-item:last-child, .recommendation-item:last-child {
  border-bottom: none;
}

.scrollable-data h3 {
  position: sticky;  
  top: 0;          
  background-color: #ffefbaf8; 
  border: 3px solid #359e35;
  padding: 10px;     
  z-index: 10;       
  margin-top: 0;    
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26); 
}

@media (max-width: 450px) {
  .sbom-container{
    margin-top: 0px;
    margin-bottom: 0px;
}}
